@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits Panel
@namespace Sandbox

<root>
	@if(!IsActive) return;
	@if(!IsActive) return;
	@if(!AbilitiyCommandsFromID.Any()) return;
		<div class="ability-menu" @ref="Menu">

			@foreach(CommandItem ability in AbilitiyCommandsFromID)
			{
				if(IsGrey)
				{
					<div class="button" style ="@(AbilitiyCommandsFromID.IndexOf(ability) == SelectedIndex ? "background-color: blue" : "background-color: rgb(39, 39, 39)")">
						<h1 class="button-text">@ability.Text</h1>
					</div>						
				}
				else if(ability.Active)
				{
					<div class="button" style ="@(AbilitiyCommandsFromID.IndexOf(ability) == SelectedIndex ? "background-color: green" : "background-color: blue")">
						<h1 class="button-text">@ability.Text</h1>
					</div>
				}
				else if(!ability.Active)
				{
					<div class="button" style ="background-color: gray">
						<h1 class="button-text">@ability.Text</h1>
					</div>					
				}

			}
		</div>
</root>

@code
{
	public bool IsActive = false;
	public bool IsGrey = false;
	[Property] public BattleUnit ActiveUnit {get; set;} = null;
	[Property] public string SkillsetID {get; set;} = "";
	List<CommandItem> AbilitiyCommandsFromID = new();
	public BattleMenu RootMenu;
	public int MenuDepth = 1;
	public Panel Menu;
	[Property] public int SelectedIndex {get; set;} = 0;

	public void Activate()
	{
		IsActive = true;

	}

	public void SetAbilityCommands()
	{
		AbilitiyCommandsFromID = ActiveUnit.Command.GetAbilityCommandsBySkillset(SkillsetID);
	}
	public void Deactivate()
	{
		IsActive = false;
	}

	public void IncreaseIndex()
	{
		if(SelectedIndex == AbilitiyCommandsFromID.Count() - 1)
		{
			Log.Info("Out Of Range");
			return;
		}
		SelectedIndex += 1;

		StateHasChanged();
		Log.Info($"AbilityMenu Index Set To {SelectedIndex}");
	}

	public void DecreaseIndex()
	{
		if(SelectedIndex == 0)
		{
			Log.Info("Out Of Range");
			return;
		}		
		SelectedIndex -= 1;
		StateHasChanged();
		Log.Info($"AbilityMenu Index Set To {SelectedIndex}");
	}
	public void SetTransform(int Level)
	{
		var transform = new PanelTransform();
		transform.AddTranslateX(Length.Pixels(-130*(Level - 1)));
		Menu.Style.Transform = transform;
	}

	public void ZeroTransform()
	{
		var transform = new PanelTransform();
		transform.AddTranslateX(Length.Pixels(0));
		Menu.Style.Transform = transform;		
	}

	public void SelectMenuItem()
	{
		CommandItem selectedCommand = AbilitiyCommandsFromID[SelectedIndex];
		PlayerMaster.Instance.SelectedCommand(CommandType.Ability, selectedCommand);
		Log.Info($"{selectedCommand.Text}");
	}

	public void LogTest()
	{
		Log.Info("Testing Ability Menu Log");
	}
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now);
}
