@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits Panel
@namespace Sandbox

<root>
	@if(_Unit is null) return;
	<div class="MainContainer">
		<div class="AbilityHeader"><p>ABILITIES</p></div>
		<div class="AbilityContainer">
			<div class="AbilityDiv">
				<h1 class="AbilityIndex">1</h1><h1 class="Title">@(_Unit.Skillset.PrimarySkillset.Name)</h1>
			</div>
			<div class="AbilityDiv">
				<h1 class="AbilityIndex">2</h1><h1 class="Title">@(_Unit.Skillset.SecondarySkillset.Name)</h1>
			</div>
			<div class="AbilityDiv">
				<h1 class="AbilityIndex">2</h1><h1 class="Title">@(_Unit.UAbility.SupportAbility.Data.Name)</h1>
			</div>
			<div class="AbilityDiv">
				<h1 class="AbilityIndex">2</h1><h1 class="Title">@(_Unit.UAbility.ReactionAbility.Data.Name)</h1>
			</div>
			<div class="AbilityDiv">
				<h1 class="AbilityIndex">2</h1><h1 class="Title">@(_Unit.UAbility.MovementAbility.Data.Name)</h1>
			</div>
		</div>
</root>

@code
{
	public BattleUnit _Unit;

	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now);
}
