@using Sandbox;
@using Sandbox.UI;
@using TacticsRPG;
@inherits Panel
@namespace Sandbox

<root>
	@if(_Unit is null) return;
	<div class="MainContainer">
		<div class="EquipHeader"><p>EQUIPMENT</p></div>
		<div class="EquipmentContainer">
			<div class="EquipmentDiv">
				<h1 class="Title">LEFT</h1>
				<p class="Name">@(_Unit.Equipment.GetEquipmentData<WeaponData>(EquipmentSlotType.LeftHand)?.Name)</p>
			</div>
			<div class="EquipmentDiv">
				<h1 class="Title">RIGHT</h1>
				<p class="Name">@(_Unit.Equipment.GetEquipmentData<WeaponData>(EquipmentSlotType.RightHand)?.Name)</p>
			</div>
			<div class="EquipmentDiv">
				<h1 class="Title">HEAD</h1>
				<p class="Name">@(_Unit.Equipment.GetEquipmentData<HelmetData>(EquipmentSlotType.Helmet)?.Name)</p>
			</div>
			<div class="EquipmentDiv">
				<h1 class="Title">BODY</h1>
				<p class="Name">@(_Unit.Equipment.GetEquipmentData<ArmorData>(EquipmentSlotType.Armor)?.Name)</p>
			</div>
			<div class="EquipmentDiv">
				<h1 class="Title">ACC</h1>
				<p class="Name">@(_Unit.Equipment.GetEquipmentData<AccessoryData>(EquipmentSlotType.Accessory)?.Name)</p>
			</div>
		</div>
	</div>
</root>

@code
{
	public BattleUnit _Unit;

	protected override int BuildHash() => System.HashCode.Combine( RealTime.Now);
}
